@import './variables';

body,html {
    font-family: 'Maven Pro', sans-serif;
    background:$bg-color;
    color:$text-color;
    letter-spacing: .2rem;
    font-size: 15px;
}
.py-4{
    background:$bg-color;
    height: 100vh;
}
.box-form{
    width: 50%;
    height: 50%;
    text-align: center;
    color:$text-color;

    @include center();

    .link-button-result{
        @include buttonLinks();
        @include center();

        margin-right: 1em;
    }
    .link-button-learn{
        @include buttonLinks();
    }
    .learn-button-box{
        position: absolute;
        left: 70%;
        margin-top: 15%;
    }
    .again-button-box{
        position: relative;
        right: 25%;
        margin-top: 15%;
    }
}
.submit-button{
    margin-top: 25%;
    color:$text-color;
    padding: 25px 50px;
    background:$btn-bg;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
   
    clip-path: $btn-corner-cut;

}
.select{
    margin-top:15%;
    background-color:$bg-color;
    color: $subText-color;
}
